In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],               
    index=pd.date_range('1/1/2000', periods=10))

In [8]:
print (df)

                   A         B         C
2000-01-01 -0.942281 -0.958284  1.452407
2000-01-02  0.954909  0.405666 -0.827458
2000-01-03  0.650424 -1.628651 -0.687486
2000-01-04 -1.162308 -0.057481  0.447421
2000-01-05 -0.629545  0.253346  0.810979
2000-01-06  0.055426 -0.048750  0.110729
2000-01-07 -0.288495  0.686203 -0.163565
2000-01-08  0.480311 -1.287087 -0.124302
2000-01-09  0.285944 -0.839901 -1.816293
2000-01-10 -1.872141 -1.011361 -0.713133

In [10]:
df.transform(lambda x: (x - x.mean()) / x.std())

                   A         B         C
2000-01-01 -0.774124 -0.643336  1.727022
2000-01-02  1.337521  1.078377 -0.728503
2000-01-03  0.998617 -1.489539 -0.577746
2000-01-04 -1.019023  0.493747  0.644603
2000-01-05 -0.426037  0.886103  1.036173
2000-01-06  0.336362  0.504768  0.281970
2000-01-07 -0.046436  1.432498 -0.013458
2000-01-08  0.809276 -1.058383  0.028831
2000-01-09  0.592937 -0.493901 -1.793525
2000-01-10 -1.809094 -0.710335 -0.605368

In [11]:
def add(x, y):
    return x + y

In [12]:
add(2,3)

5

In [15]:
add2 = lambda x, y : x + y

In [16]:
print (add2(2,3))

5

In [17]:
type (add2)

function

In [21]:

def multiply2(x):
  return x * 2
    
map(multiply2, [1, 2, 3, 4])  # Output [2, 4, 6, 8]

In [23]:
print (multiply2)

<function multiply2 at 0x1129739d8>

In [24]:
map(lambda x : x*2, [1,2,3,4])